@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  box-shadow: 2px 3px 30px rgba(0, 0, 0, 0.137);
}

.text-success {
  color: rgb(35 108 39 / 1);
}

.gallery-container {
  width: 80%;
  margin: auto;
}

.main-swiper .swiper-wrapper {

}

.main-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  border: 1px solid #8b8b8bb7;
}

.main-image:hover {
  transform: scale(1.5);
}

.thumbs-swiper {
  margin-top: 16px;
}

.thumbs-swiper .swiper-wrapper {
  padding-left: 20px;
}

.thumb-image {
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: 0.6;
  border-radius: 4px;
  transition: opacity 0.3s ease;
  border: 1px solid #5c5b5b;
}

.swiper-slide-thumb-active .thumb-image {
  opacity: 1;
  border: 2px solid #0070f3;
}

.otherimages {
    width: 100%;
    height: auto;
    max-width: 250px;
    object-fit: contain;
    border: 1px solid #aeaeae;
  }

@media screen and (max-width: 640px) {

  .swiper-wrapper {
    max-width: 500px;
  }

  .otherimages {
    max-width: 150px;
  }

 }